@font-face {
  font-family: AvenirNext;
  src: url(../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: AvenirDemi;
  src: url(../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/Alternative_files/AvenirNextLTPro.ttf) format("truetype");
}
body {
  margin: 0px;
}

.navbar {
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .navbar {
    background-color: #323232;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  .navbar__band--shows:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 18px;
  }
  .navbar__band--biography:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 18px;
  }
  .navbar__band--shows:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 18px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__band--biography:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 18px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__logo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 18px 0px 20px 0px;
  }
  .navbar__logo-icon {
    width: 240px;
  }
  .navbar__list {
    list-style: none;
    padding-left: 0rem;
    margin: 0.625rem auto 0rem auto;
    display: flex;
    justify-content: space-around;
  }
  .navbar__band--biography {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Avenir;
  }
  .navbar__band--shows {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Avenir;
  }
}
@media (min-width: 768px) {
  .navbar {
    width: 100%;
    height: 115px;
    background-color: #323232;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    gap: 7.5rem;
    padding-left: 53px;
  }
  .navbar__band--shows:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 38px;
  }
  .navbar__band--biography:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 38px;
  }
  .navbar__band--shows:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 38px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__band--biography:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 38px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__logo-icon {
    width: 190px;
  }
  .navbar__list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .navbar__band--biography {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Avenir;
    position: relative;
    top: -10px;
    right: 25px;
  }
  .navbar__band--shows {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Avenir;
    position: relative;
    top: -10px;
    right: 45px;
  }
}
@media (min-width: 1280px) {
  .navbar {
    background-color: #323232;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    padding: 40px 0px 30px 155px;
  }
  .navbar__band--shows:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 32px;
  }
  .navbar__band--biography:hover {
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 32px;
  }
  .navbar__band--shows:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 32px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__band--biography:active {
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 32px;
    color: white;
    font-family: AvenirNext;
  }
  .navbar__logo-icon {
    width: 130px;
  }
  .navbar__logo {
    padding-bottom: 20px;
  }
  .navbar__list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .navbar__band--biography {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1rem;
    font-family: Avenir;
    position: relative;
    top: 0%;
  }
  .navbar__band--shows {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1rem;
    font-family: Avenir;
    position: relative;
    top: 0px;
    right: 20px;
  }
}

.header {
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .header {
    background: rgba(50, 50, 50, 0.4) url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 645px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__text {
    color: #fafafa;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: Avenir;
    padding-left: 40px;
    margin-top: -100px;
    margin-bottom: 40px;
  }
  .header__sub-text {
    color: #fafafa;
    font-size: 56px;
    letter-spacing: 1px;
    font-family: AvenirDemi;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: none;
  }
  .header__sub-text p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .header__embed-iframe {
    position: relative;
    top: 40px;
    left: 50px;
    width: 580px;
  }
}
@media (min-width: 768px) {
  .header {
    background: rgba(50, 50, 50, 0.5) url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: none;
  }
  .header__text {
    color: #fafafa;
    font-size: 38px;
    letter-spacing: 1px;
    font-family: AvenirDemi;
    padding-left: 57px;
    margin-top: -120px;
    margin-bottom: 20px;
  }
  .header__sub-text {
    color: white;
    font-size: 5rem;
    letter-spacing: 2px;
    font-family: AvenirDemi;
    padding-left: 57px;
  }
  .header__sub-text p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .header__embed-iframe {
    position: relative;
    left: 58px;
    top: 80px;
    width: 675px;
  }
}
@media (min-width: 1280px) {
  .header {
    background: rgba(50, 50, 50, 0.5) url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 730px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
  }
  .header__text {
    color: #fafafa;
    font-size: 26px;
    letter-spacing: 1px;
    font-family: AvenirDemi;
    padding-left: 150px;
    margin-top: 150px;
    margin-bottom: 0px;
    padding-bottom: 25px;
  }
  .header__sub-text {
    color: white;
    font-size: 65px;
    letter-spacing: 2px;
    font-family: AvenirDemi;
    padding-left: 150px;
  }
  .header__sub-text p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .header__embed-iframe {
    position: relative;
    left: 860px;
    top: -160px;
    width: 480px;
  }
}

@media (min-width: 320px) {
  .section {
    background-color: white;
    box-sizing: border-box;
  }
  .section__heading {
    font-size: 55px;
    font-family: AvenirDemi;
    margin-bottom: 60px;
    margin-top: 73px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .section__list {
    list-style: none;
    margin-top: 0px;
  }
  .section__shows--sub-heading {
    color: #afafaf;
    font-family: Avenir;
    font-weight: 700;
    font-size: 25px;
  }
  .section__first-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__second-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__third-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__fourth-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__fifth-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__sixth-show {
    font-size: 30px;
    font-family: Avenir;
    margin-left: 40px;
  }
  .section__shows-date {
    font-family: AvenirDemi;
  }
  .section__shows--button {
    color: white;
    width: 92%;
    font-size: 35px;
    font-family: AvenirDemi;
    font-weight: 700;
    background-color: #323232;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 38px;
    border-color: #323232;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }
  .section__divider {
    border-top: 2px solid #e1e1e1;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .section {
    background-color: white;
    box-sizing: border-box;
  }
  .section__heading {
    font-size: 55px;
    font-family: AvenirDemi;
    margin-bottom: 60px;
    margin-top: 73px;
    margin-left: 57px;
  }
  .section__list {
    list-style: none;
    display: flex;
    gap: 230px;
    margin-left: 20px;
  }
  .section__first-show {
    display: flex;
  }
  .section__second-show {
    display: flex;
  }
  .section__third-show {
    display: flex;
  }
  .section__fourth-show {
    display: flex;
  }
  .section__fifth-show {
    display: flex;
  }
  .section__sixth-show {
    display: flex;
  }
  .section__shows--sub-heading {
    color: #afafaf;
    font-family: AvenirDemi;
    font-weight: 700;
    font-size: 19px;
  }
  .section__shows-date {
    font-family: AvenirDemi;
    font-size: 22px;
    margin-left: 20px;
  }
  .section__shows--button {
    color: white;
    width: 20%;
    font-size: 25px;
    font-family: AvenirDemi;
    font-weight: 700;
    background-color: #323232;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-color: #323232;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    left: 890px;
  }
  .section__shows--venue {
    font-size: 22px;
    font-family: Avenir;
    position: absolute;
    left: 340px;
  }
  .section__shows--location {
    font-size: 22px;
    font-family: Avenir;
    position: absolute;
    left: 630px;
  }
  .section__divider {
    border-top: 2px solid #e1e1e1;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1280px) {
  .section {
    background-color: white;
    box-sizing: border-box;
  }
  .section__shows {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .section__heading {
    font-size: 42px;
    color: #323232;
    font-family: AvenirDemi;
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 150px;
  }
  .section__list {
    list-style: none;
    display: flex;
    gap: 200px;
  }
  .section__all-shows {
    position: relative;
    top: 75px;
    left: 100px;
  }
  .section__shows--sub-heading {
    color: #afafaf;
    font-family: Avenir;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .section__shows-date {
    font-family: AvenirDemi;
    font-size: 16px;
    margin-left: 0px;
    position: absolute;
    left: 60px;
  }
  .section__first-show {
    display: flex;
  }
  .section__second-show {
    display: flex;
  }
  .section__third-show {
    display: flex;
  }
  .section__fourth-show {
    display: flex;
  }
  .section__fifth-show {
    display: flex;
  }
  .section__sixth-show {
    display: flex;
  }
  .section__shows--button {
    color: white;
    width: 18%;
    font-size: 15px;
    font-family: AvenirDemi;
    font-weight: 700;
    background-color: #323232;
    border-radius: 5px;
    margin: 0px;
    padding: 13px;
    margin-bottom: 0px;
    border-color: #323232;
    position: absolute;
    left: 760px;
    margin-top: 0px;
  }
  .section__shows--venue {
    font-size: 16px;
    font-family: Avenir;
    position: absolute;
    left: 300px;
  }
  .section__shows--location {
    width: 140px;
    font-size: 16px;
    font-family: Avenir;
    position: absolute;
    left: 550px;
  }
  .section__divider {
    border-top: 1px solid #e1e1e1;
    width: 970px;
    margin-top: 65px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 30px;
  }
}

.footer {
  box-sizing: border-box;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 320px) {
  .footer {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer__heading {
    font-size: 55px;
    letter-spacing: 1px;
    padding-top: 60px;
    font-family: AvenirDemi;
    margin-top: 0px;
    margin-bottom: 45px;
  }
  .footer__socials {
    margin-right: 70px;
  }
  .footer__socials--facebook {
    width: 30px;
  }
  .footer__socials--instagram {
    width: 52px;
  }
  .footer__socials--twitter {
    width: 60px;
  }
  .footer__agents {
    font-size: 28px;
    line-height: 15px;
    font-family: AvenirDemi;
    margin-top: 60px;
    letter-spacing: 1px;
  }
  .footer__address {
    font-size: 28px;
    line-height: 15px;
    font-family: Avenir;
    margin-top: 63px;
    letter-spacing: 1px;
  }
  .footer__contact {
    font-size: 28px;
    line-height: 15px;
    font-family: Avenir;
    margin-top: 65px;
    margin-bottom: 84px;
    letter-spacing: 1px;
  }
  .footer__band-name {
    font-size: 54px;
    font-family: Avenir;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    margin-top: 150px;
  }
  .footer__logo--icon {
    width: 280px;
    margin-top: 80px;
  }
  .footer__copyrights {
    font-size: 26px;
    font-family: Avenir;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
    height: 600px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
  }
  .footer__heading {
    font-size: 55px;
    letter-spacing: 1px;
    padding-top: 60px;
    font-family: AvenirDemi;
    margin-bottom: 35px;
  }
  .footer__socials {
    margin-right: 70px;
  }
  .footer__socials--facebook {
    width: 23px;
  }
  .footer__socials--instagram {
    width: 37px;
  }
  .footer__socials--twitter {
    width: 43px;
  }
  .footer__all-socials {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer__all-agents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    margin-top: -20px;
  }
  .footer__social--icons {
    display: flex;
    align-self: center;
    margin-top: 35px;
  }
  .footer__agents {
    font-size: 21px;
    line-height: 12px;
    font-family: AvenirDemi;
    margin-top: 60px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  .footer__address {
    font-size: 21px;
    line-height: 12px;
    font-family: Avenir;
    margin-top: 63px;
    letter-spacing: 1px;
  }
  .footer__contact {
    font-size: 21px;
    line-height: 12px;
    font-family: Avenir;
    margin-top: 65px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  .footer__logo--icon {
    width: 200px;
  }
  .footer__logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    bottom: 450px;
    right: 65px;
  }
  .footer__copyrights {
    font-size: 21px;
    font-family: Avenir;
    padding-bottom: 65px;
    padding-top: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .footer {
    width: 100%;
    height: 460px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 100px;
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .footer__heading {
    font-size: 43px;
    width: 500px;
    letter-spacing: 1px;
    padding-top: 60px;
    font-family: AvenirDemi;
    margin-bottom: 35px;
  }
  .footer__socials {
    margin-right: 40px;
    position: relative;
    right: 220px;
  }
  .footer__socials--facebook {
    width: 15px;
  }
  .footer__socials--instagram {
    width: 28px;
  }
  .footer__socials--twitter {
    width: 30px;
  }
  .footer__all-socials {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 40px;
  }
  .footer__all-agents {
    display: flex;
    gap: 75px;
    margin-top: -20px;
  }
  .footer__social--icons {
    display: flex;
    align-self: center;
    margin-top: 35px;
  }
  .footer__agents {
    font-size: 16px;
    line-height: 10px;
    font-family: AvenirDemi;
    margin-top: 50px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  .footer__address {
    font-size: 16px;
    line-height: 10px;
    font-family: Avenir;
    margin-top: 50px;
    letter-spacing: 1px;
  }
  .footer__contact {
    font-size: 16px;
    line-height: 15px;
    font-family: Avenir;
    margin-top: 50px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  .footer__logo--icon {
    width: 140px;
  }
  .footer__logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    bottom: 380px;
    right: 20px;
  }
  .footer__copyrights {
    font-size: 17px;
    font-family: Avenir;
    padding-bottom: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 20px;
  }
}/*# sourceMappingURL=shows.css.map */